@charset "utf-8";
body {
  background-color: #ffffff;
}
.test {
  height: 100px;
  width: 100px;
  background-color: #000000;
  border: solid #ffff00 10px;
}
.tran {
  height: 0;
  width: 0;
  overflow: hidden;
  border-width: 10px;
  border-color: red transparent transparent transparent;
  border-style: solid;
}
.pipei {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: green;
}
